/*:root {
  --main-color: #ebe9dc;
  --accent-color1: #D35400;
  --accent-color2: #2E8B57;
}*/

.banner {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.banner>* {
  flex: 1;
  height: 100%;
  position: relative;
}

.banner>*:first-child {
  background-color: #ebe9dc;
}

.banner>*:nth-child(2) {
  background-color: gray;
}

.banner_details {
  width: 280px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  position: relative;
  filter: grayscale(80%);
}
.large_image {
  width: 280px;
  height: 420px;
}
.small_image {
  display: none;
}
.image_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 420px;
  background-color: #ebe9dc;
  opacity: 0.4;
}

.text_overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  font-size: calc(2vw + 2.4em);
  font-weight: 300;
  white-space: nowrap;
  text-transform: uppercase;
}

.text_container {
  width: 312px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 16px;
  font-size: 16px;
  line-height: 1.6em;
}

@media (max-width: 600px) {
  .banner {
    flex-direction: column;
    height: 150vh;
  }

  .banner>*:first-child {
    min-height: 100vh;
  }

  .banner_details {
    width: 240px;
  }
  
  .small_image {
    width: 240px;
    height: 360px;
    display: block;
  }
  .large_image {
    display: none;
  }
  .image_overlay{
    width: 240px;
    height: 360px;
  }
  
  .text_container {
    width: 272px;
  }
  .text_overlay {
    font-size: calc(2vw + 2.4em);
  }
}