.container {
  display: flex;
  flex-direction: column;
  background-color: #f7f3eb;
  color: #004225;
  max-width: 100vw;
}
.line {
  margin: 24px 0;
  width: 100%;
  height: 2px;
  opacity: 0.08;
  background: repeating-linear-gradient(
          to right,
          transparent,
          transparent 16px,
          #013220 16px,
          #013220 24px
  );
}